.main{
	background:darkseagreen;
	
	margin-left: 20px;
}

nav{
	background:darkorange;
	margin-left: 20px;
}

footer{
	background:darkred;
	margin-left: 20px;
}

li h3{	
	color:red;
	font-weight: 900;
}