$colour-primary: #397214;
$colour-secondary: #bcce57;
$colour-tertiary: #99E2D0;
$colour-fond: #5f4b26de;
$colour-carte: #5f4b26de;
$colour-nav: #b9906ade;
$colour-accent: #f09993fa;
$colour-white: #fff;
$colour-invalid: #DB464B;

//$heading-shadow-size: .55rem;
$layout-margin: 8rem;
$tailleboutton: $layout-margin * .30;

$colour-header1: #EAEAEA;
$colour-header2: #F6F6F6;
$colour-footer: #353535;

