.nav_produit{
	display:none;
}

.panier{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	background: ($colour-nav);
}

.panier_somme_totale{
	display:flex;
	justify-content: flex-end;
	background: ($colour-carte);
	h2{
		margin:20px;
		color:($colour-secondary)
	}
}


.btnFinalisationPanier{
	display:flex;
	width:20%;
	margin:auto;
	.btnAnnulationPanier{
		margin:0 20px;
		background: ($colour-invalid);
	}
}




@media screen and (min-width: 376px) and (max-width:667px)

{
	.main__container{    
	  max-width: 667px;
	}
}


@media screen and (min-width: 667px) 

{
	.main{    
	  max-width: 1480px;
	  margin:auto;
	}
}