.main{
	background:darkseagreen;
	
	margin-left: 20px;
}

nav ul{
	background:darkorange;
	margin-left: 20px;
    display:flex;
	flex-direction: row;
	width: auto;
	justify-content: space-around;
}

footer{
	background:darkred;
	margin-left: 20px;
}