.nav_produit{
	display:none;
}

.panier-article{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	background: ($colour-nav);

}

.panier_somme_totale{
	display:flex;
	flex-wrap: wrap;
	background: ($colour-carte);
	.recapitulatif_panier{
	display: flex;
	background: chartreuse;
	width: 100%;
	color:($colour-secondary);
		.resultat_panier_texte{
		background: red;
		width:90%;	
	}
		.resultat_panier{
		background: blue;
		width:20%;
		text-align: center;
		align-items: center;

	}	
	}
	.annulation_panier{
		display: flex;
		background: yellow;
		width: 100%;
		justify-content: center;
		.btnAnnulationPanier{
			margin: 20px;
			background:($colour-invalid);
			a{
				text-align: center;
			}
		}
	}
}




@media screen and (min-width: 320px) and (max-width:667px)

{
	.main__container{    
	  max-width: 667px;
	}
	.panier-string{
		background: chartreuse;
		
	}
}


@media screen and (min-width: 667px) 

{
}