.nav_produit{
	display:none;
}

#main{
	display: flex;
	flex-direction: column;
}

#selected_article{
	display: flex;
	
	flex-direction: column;
	background: ($colour-carte);
	margin:auto;
	width: 80%;
	p {color: ($colour-secondary);}
	img{
		display:flex;
		margin: auto;
		width: 100%;
		border-radius: 25px;
		object-fit: cover;
		}
}	

#btnByeArt{
	margin:auto;
	width: 80% ;
}