.nav_produit{
	display:none;
}

.panier-article{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	background: ($colour-nav);

}

.panier_somme_totale{
	display:flex;
	flex-wrap: wrap;
	background: ($colour-carte);
	.recapitulatif_panier{
	display: flex;

	width: 100%;
	color:($colour-secondary);
		.resultat_panier_texte{
	
		width:90%;	
	}
		.resultat_panier{
		
		width:20%;
		text-align: center;
		align-items: center;

	}	
	}
	.annulation_panier{
		display: flex;
	
		width: 100%;
		justify-content: center;
		.btnAnnulationPanier{
			width: 60%;
			margin: 20px;
			background:($colour-invalid);
			a{
				text-align: center;
			}
		}
	}
}




@media screen and (min-width: 320px) and (max-width:667px)

{
	.main__container{    
	  max-width: 667px;
	}
	.panier-string{
		display: flex;
	.panier-string-presentation{
	
		width:100%;	
		& .panier-img{
			width:30%;
			border-radius: 25px;
			object-fit: cover;}
		& .panier-name{
			width:30%;
			text-align: center;
			font-weight: 600;
			margin:0 5px;}
		& .panier-name{
			width:30%;
			text-align: center;
			font-weight: 600;
			margin:0 5px;}
		&.panier-id{
			width:30%;
			overflow: hidden;
			font-size: 1rem;		
			}
		}
	.panier-string-calcul{
		width:100%;	

}}}


@media screen and (min-width: 667px) 

{
}