

// Carte produit sur page index

.article-item{
	
	background: ($colour-carte);
	border-radius:25px;
	width:30%;
	margin:auto;
	img{
	display:flex;
	margin: auto;
	width:80%;
	max-height: 200px;
	border-radius: 25px;
	object-fit: cover;
	}
	h2, p{
		display: flex;
		justify-content:center;
		color:($colour-secondary);
		
	}

	.article-description{
		margin: 10px;
		text-align: center;
		
	}
	.btnShowArt{
		display:flex;
		justify-content: center;
		margin:auto;
	}
}

// Carte produit sur page panier

.panier-string{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	border:solid;
	background:($colour-carte);
	align-items: center;
	margin-bottom: 20px;
	h2, p{
		color:($colour-secondary);
	}
	.panier-string-presentation{
		display: flex;
		align-items: center;
		width:50%;
		& .panier-img{
			width:30%;
			border-radius: 25px;
			object-fit: cover;}
		& .panier-name{
			width:30%;
			text-align: center;
			font-weight: 600;
			margin:0 5px;}
		& .panier-name{
			width:30%;
			text-align: center;
			font-weight: 600;
			margin:0 5px;}
		&.panier-id{
			width:30%;
			overflow: hidden;
			font-size: 1rem;		
			}
		}
	.panier-string-calcul{
		display: flex;
		align-items: center;
		width:50%;
		& .calcul-price{
		width:40%;
		text-align: center;}
		& input{
		width: 10%;
		text-align: center;}
		& .calcul-price-sum{
		width:40%;
		text-align: center;}
		& .btnDeletArt{
		width:20%;
		}
	.btnDeletArt, a{
	display: flex;
	justify-content: center;
	align-items: center ;
	font-size: 1rem;
	background: ($colour-invalid);
}}
}