//Formulaire page panier
.formulaireCommande{
	display:flex;
	flex-wrap: wrap;
	width: 60%;
	margin: auto;
	justify-content: center;
	align-items: center;
	
	legend{
		margin-bottom:20px;
		text-align: center;
	}
	
	input{
		width: 60vw;
		border:none;
		outline:none;
		padding:5px;
		border-radius: 5px;
		box-shadow:0 2px 5px;
	}
	
	input:hover{
		background: ($colour-nav);
	}

	.infoChampManquant{
		font-weight: 600;
		font-style: italic;
		color: ($colour-invalid);
	}
	
	.validation_Panier{
		display:flex;
		width: 100%;
		margin: 20px;
		.btnValidationPanier{
			a{
				text-align: center;
			}
		}
	}
	

}

.panier_somme_totale{
	display:flex;
	flex-wrap: wrap;
	background: ($colour-carte);
	.recapitulatif_panier{
	display: flex;
	background: chartreuse;
	width: 100%;
	color:($colour-secondary);
		.resultat_panier_texte{
		background: red;
		width:90%;	
	}
		.resultat_panier{
		background: blue;
		width:20%;
		text-align: center;
		align-items: center;

	}	
	}
	.annulation_panier{
		display: flex;
		background: yellow;
		width: 100%;
		justify-content: center;
		.btnAnnulationPanier{
			margin: 20px;
			background:($colour-invalid);
			a{
				text-align: center;
			}
		}
	}
}