//Formulaire page panier
.formulaireCommande{
	display:flex;
	flex-wrap: wrap;
	width: 60%;
	margin: auto;
	justify-content: center;
	align-items: center;
	color:($colour-accent);
	font-weight: 600;
	
	legend{
		margin-bottom:20px;
		text-align: center;
	}
	
	input{
		width: 60vw;
		border:none;
		outline:none;
		padding:5px;
		border-radius: 5px;
		box-shadow:0 2px 5px;
	}
	
	input:hover{
		background: ($colour-nav);
	}

	.infoChampManquant{
		font-weight: 800;
		font-style: italic;
		color: ($colour-invalid);
	}
	
	.validation_Panier{
	width:100%;
	.btnValidationPanier{
		
		margin: 20px 0px;
		width:100%;
			a{
				text-align: center;
			}
		}
	}
}
