//Formulaire page panier

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: chartreuse;
	legend{
		margin-bottom:20px;
	}
	
	input{
		width: 60vw;
		border:none;
		outline:none;
		padding:5px;
		border-radius: 5px;
		box-shadow:0 2px 5px;
	}
	
	input:hover{
		background: ($colour-nav);
	}
	
	.btnFinalisationPanier{
		display:flex;
		width:100%;
		button{
			
			margin: auto;
			a{
				text-align: center;
			}
		}
	}
	

}