header{
	display:flex;
	justify-content: center;
	width:100%;

	align-items: center;
	position: relative;
	a{
		display: flex;
		align-items: center;
	}
	a:visited 
	{ 
	 color :black
	}
}
header img{

	display:flex;

	
}
nav ul{
	background:darkorange;
}

