header{
	display:flex;
	justify-content: space-around;
	width:100%;
	height: 140px;
	align-items: center;
	background: ($colour-nav);

	nav li{
		display: inline-block;
		padding-left: 15px;
	}

	li a{
		background: ($colour-nav);;
		padding: 10px;
		border-radius: 50px;
		a:visited 
	{ 
	 color :black
	}
	}
	a{
		padding-left: 5px;
	}

	svg{
		margin-right: 5px;
		border-radius: 50px;		
	}
	span{
		padding: 5px;
	}

	img{
		border-radius: 50px;
		width: 20%;
		max-height: 100px;
		object-fit: cover;
	}
}
