body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h1{
	font-family: 'Shrikhand', sans-serif;
	color:($colour-accent);
	font-size: 3rem;
	font-weight: 900;
}

h2{
	font-weight: 900;
	font-size: 2rem;
	color:($colour-accent);
}

h3{
	color:($colour-accent);
}

h4{
	color:($colour-carte);
}




textarea {
	font-family: 'Roboto', sans-serif;
}

button {
	width: 80%;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: 900;

}

.section{
	background: ($colour-header2)
}
